
<div class="box">
<h1>Where Have You Been?</h1>

<p>Type A Place You've Been:</p>

<ul>
  <% @places.each() do |place| %>
    <li><%= place.locale() %></li>
  <% end %>
</ul>


<form action="/places_youve_been" method="post">
  <div class="form-group">
    <label for "locale">A Place You've Been</label>
    <input id="locale" name="locale" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add Place</button>
</form>
</div>
